header{
    display: flex;
    border-bottom: solid 2px;
    border-color: rgb(155, 155, 155);
    padding-bottom: 20px;
    padding-top: 20px;
}

body{
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: Droid Sans;
    padding: 0;
}
footer{
    border-top: solid 2px;
    border-color: rgb(155, 155, 155);

    display: flex;

    font-size: 15px;

    justify-content: space-around;
}

.logo{
    height: 70px;
}

.colored-text{
    color: #955bc1;
}


.chapter{
    flex-basis: 200px;
    height: 200px;
    margin: 10px;
    padding: 0;

    background-color: #aeaeae;

    color: #fff;
    text-decoration: none;
    text-align: center;
}
.chapter h3{
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.514);
}
.chapter:hover{
    color: #955bc1;
    box-shadow: 0px 0px 20px 5px rgba(149,91,193,1);
}
.chapter:hover h3{
    background-color: rgba(0, 0, 0, 0.719);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#chapter1{
    background-image: url(../img/styl/skulpting.png);
}
#chapter2{
    background-image: url(../img/styl/retop.png);
}
#chapter3{
    background-image: url(../img/styl/uv.png);
}
#chapter4{
    background-image: url(../img/styl/texture.png);
}
#chapter5{
    background-image: url(../img/styl/rig.png);
}
#chapter6{
    background-image: url(../img/styl/animation.png);
}
#chapter7{
    background-image: url(../img/styl/presentation.png);
}
#chapter8{
    background-image: url(../img/styl/diplom.png);
}
#chapter9{
    background-image: url(../img/styl/bonuses.png);
}
#chapter10{
    background-image: url(../img/styl/useful.png);
}





@font-face {
font-family: 'Droid Sans';
src: local('Droid Sans'),
url(../fonts/DroidSans.ttf);
}