#chapter1{
    background-image: url(../../img/styl/skulpt/1read/base-form.png);
}
#chapter2{
    background-image: url(../../img/styl/skulpt/1read/anatomy-logic.png);
}
#chapter3{
    background-image: url(../../img/styl/skulpt/1read/homework.png);
}
#chapter4{
    background-image: url(../../img/styl/skulpt/1read/feedback.png);
}
#chapter5{
    background-image: url(../../img/styl/skulpt/1read/chapter-materials.png);
}