#chapter1{
    background-image: url(../../img/styl/skulpt/2read/detalisation1.png);
}
#chapter2{
    background-image: url(../../img/styl/skulpt/2read/detalisation2.png);
}
#chapter3{
    background-image: url(../../img/styl/skulpt/1read/homework.png);
}
#chapter4{
    background-image: url(../../img/styl/skulpt/1read/feedback.png);
}
#chapter5{
    background-image: url(../../img/styl/skulpt/1read/chapter-materials.png);
}