#chapter0{
    background-image: url(../../img/psd.png);
}
#chapter1{
    background-image: url(../../img/zmt.png);
}
#chapter2{
    background-image: url(../../img/styl/skulpt/2read/detalisation2.png);
}