#chapter1{
    background-image: url(../../img/styl/skulpt/1read.png);
}
#chapter2{
    background-image: url(../../img/styl/skulpt/2read.png);
}
#chapter3{
    background-image: url(../../img/styl/skulpt/zmodeller-and-weapons.png);
}
#chapter4{
    background-image: url(../../img/styl/skulpt/3read.png);
}
#chapter5{
    background-image: url(../../img/styl/skulpt/kricher-design.png);
}
#chapter6{
    background-image: url(../../img/styl/skulpt/clothes.png);
}
#chapter7{
    background-image: url(../../img/styl/skulpt/sherst.png);
}
#chapter8{
    background-image: url(../../img/styl/skulpt/presentation.png);
}